<div ng-controller="HomeController">
    <h2>List of issues reported</h2>
    <button ng-click="showCheckboxes = ! showCheckboxes" type="button" class="btn btn-dark"><span id="btnicon" class="glyphicon glyphicon-plus" aria-hidden="true"></span> Column choice</button>
    <button ng-click="showSearch = ! showSearch" type="button" class="btn btn-dark"><span id="btnicon" class="glyphicon glyphicon-plus" aria-hidden="true"></span> Advanced search</button>
    <form ng-show="showCheckboxes" id="columnform">
        <br>
        <h3>Issues</h3>
        <div class="col-md-2">
            <label class="checkbox-inline">
                <input ng-model="showIssue" type="checkbox" value="option1"> Name
            </label>
        </div>
        <div class="col-md-2">
            <label class="checkbox-inline">
                <input ng-model="showLocation" type="checkbox"> Location
            </label>
        </div>
        <div class="col-md-2">
            <label class="checkbox-inline">
                <input ng-model="showPriority" type="checkbox"> Priority
            </label>
        </div>
        <div class="col-xs-12"><hr></div>
        <div class="col-xs-12"><h3>Employee</h3></div>
        <div class="col-md-2">
            <label class="checkbox-inline">
                <input ng-model="showEmployee" type="checkbox"> Name
            </label>
        </div>
        <div class="col-md-2">
            <label class="checkbox-inline">
                <input ng-model="showJob" type="checkbox"> Job
            </label>
        </div>
        <div class="col-md-2">
            <label class="checkbox-inline">
                <input ng-model="showCompany" type="checkbox"> Company
            </label>
        </div>
        <div class="col-xs-12">
            <br>
            <button ng-click="saveCookie()" type="button" class="btn btn-default"><span id="btnicon" class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
        </div>
        <div class="col-xs-12"><hr></div>
    </form>
    <form ng-show="showSearch" id="searchform">
        <div class="col-xs-12"><br></div>
        <div class="form-group col-md-4" ng-repeat="data in filters">
            <label for="{{data.name}}">{{data.name}}</label>
            <input ng-model="filter" type="text" class="form-control" id="{{data.name}}" placeholder="{{data.name}}" name="{{data.name}}">
        </div>
        <div class="col-xs-12">
            <br>
            <button ng-click="searchIssue()" type="button" class="btn btn-default"><span id="btnicon" class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
            <button ng-click="emptySearch()" type="button" class="btn btn-link nocolor"><span id="btnicon" class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <br>
        </div>
        <div class="col-xs-12"><br></div>
    </form>
    <div class="form-group searchinput">
        <div class="col-xs-7">
            <span class="searchicon">
                <input ng-change="globalSearch()" ng-model="search" class="form-control" id="search" placeholder="Search..." />
            </span>
        </div>
    </div>
    <div class="floatright">
        Issues per page:
        <select ng-model="numPerPage" id="numPerPage" name="numPerPage">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th ng-show="showIssue" ng-click="reverse=!reverse;order('task', reverse)" style="cursor: pointer"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Task</th>
                <th ng-show="showLocation" ng-click="reverse=!reverse;order('location', reverse)" style="cursor: pointer"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Location</th>
                <th ng-show="showPriority" ng-click="reverse=!reverse;order('priority', reverse)" style="cursor: pointer"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Priority</th>
                <th ng-show="showEmployee" ng-click="reverse=!reverse;order('name', reverse)" style="cursor: pointer"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Agent</th>
                <th ng-show="showJob" ng-click="reverse=!reverse;order('job', reverse)" style="cursor: pointer"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Job</th>
                <th ng-show="showCompany" ng-click="reverse=!reverse;order('company', reverse)" style="cursor: pointer"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Company</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in issues">
                <td ng-show="showIssue" style="vertical-align: middle;">{{data.task}}</td>
                <td ng-show="showLocation" style="vertical-align: middle;">{{data.location}}</td>
                <td ng-show="showPriority" style="vertical-align: middle;">{{data.priority}}</td>
                <td ng-show="showEmployee" style="vertical-align: middle;">{{data.name}}</td>
                <td ng-show="showJob" style="vertical-align: middle;">{{data.job}}</td>
                <td ng-show="showCompany" style="vertical-align: middle;">{{data.company}}</td>
                <td style="vertical-align: middle;"><a data-toggle="modal" data-target="#myModal" ng-click="openEdit(data.id)" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit</a></td>
            </tr>
        </tbody>
    </table>
    <pagination ng-model="currentPage"
                total-items="totalItems"
                items-per-page="numPerPage"
                boundary-links="true"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"
                force-ellipses="true">
    </pagination>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog" id="myModalWidth">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit an issue</h4>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" method="post">
                        <br><br>
                        <div class="form-group col-md-6">
                            <label for="name">Issue</label>
                            <input required type="text" class="form-control" id="name" value="{{issue.task}}" ng-model="issue.task" name="name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="location">Location</label>
                            <input required type="text" class="form-control" id="location" value="{{issue.location}}" ng-model="issue.location" name="location">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="priority">Priority</label>
                            <select class="form-control" id="priority" name="priority" value="{{issue.priority}}" ng-model="issue.priority">
                                <option disabled value>Priority</option>
                                <option value="low">low</option>
                                <option value="medium">medium</option>
                                <option value="high">high</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="employee">Employee</label>
                            <select class="form-control" id="employee" name="employee" value="{{issue.employee}}" ng-model="issue.employee">
                                <option disabled value>Employee</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <button onclick="openNew()" type="button" class="btn btn-dark btnaddemployee"><span id="btniconemployee" class="glyphicon glyphicon-plus" aria-hidden="true"></span> New employee</button>
                            <div id="newEmployee" class="newEmployee somemargin">
                                <div class="form-group col-md-6">
                                    <label for="firstname">Firstname</label>
                                    <input type="text" class="form-control" id="firstname" placeholder="Firstname" name="firstname">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="lastname">Lastname</label>
                                    <input type="text" class="form-control" id="lastname" placeholder="Lastname" name="lastname">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="job">Job</label>
                                    <input type="text" class="form-control" id="job" placeholder="Job" name="job">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="company">Company</label>
                                    <input type="text" class="form-control" id="company" placeholder="Company" name="company">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12"><hr></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" ng-click="submitUpdate()" class="btn btn-success btn-lg" data-dismiss="modal">Valider</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Annuler</button>
                </div>
            </div>

        </div>
    </div>
</div>
